// Import mixins
@import 'common/assets/styles/mixins.scss';

.ant-switch-checked {
  background-color: $apg-green;
}

.ant-input {
  color: #000;
  border: 1px solid #92959a;
}

.ant-select-selection,
.ant-switch,
.ant-input-number {
  border: 1px solid #92959a;
}

.ant-btn-normal {
  background-color: #a9a9a9;
  border-color: #a9a9a9;
  font-weight: bold;
  color: black;
}

.ant-btn-normal:hover {
  background-color: #bebebe;
  border-color: #a9a9a9;
  color: black;
}

.ant-btn-primary {
  background-color: $apg-green;
  border-color: $apg-green;
  font-weight: 400;
  color: white;
}

.ant-btn-primary:hover {
  background-color: $apg-green;
}

.ant-btn-primary:focus {
  background-color: $apg-green-darken;
}

.ant-modal-confirm-btns .ant-btn:first-child {
  margin-right: 0px;
}

.ag-cell-value a {
  color: black;
}

.inactive-row-item {
  color: #a5a5a5;
}

.inactive-row-item a {
  color: #a5a5a5;
}

.ant-menu-vertical.ant-menu-sub {
  width: calc(100% + 25px);
}

.ant-input-number-handler-wrap {
  display: none;
}

.ant-select-selection__clear {
  color: #000;
}

body .ant-select-dropdown {
  border: 1px solid rgb(146, 149, 154);
}

.ant-modal-footer .ant-btn-normal {
  float: left;
}

body .ant-layout-footer {
  padding-top: 30px;
  padding-bottom: 15px;
}
.ag-theme-alpine .ag-cell{
  font-size: 12px;
}
.ag-header-cell-text, .ag-header-group-text{
  color:$ag-header-font-clr !important;
  font-weight: $ag-header-font-weight;
  font-size: $ag-header-font!important;
}
.ag-theme-alpine .ag-row:not(.ag-row-first) {
  border-top-style: solid;
}
// .ag-theme-alpine .ag-pinned-left-header{
//   border-right-color: #babfc7;
// }
// .ag-theme-alpine .ag-floating-top{
//   border-bottom-color:red!important
// }
// .button-disable{
//   button{
//     opacity: 0.2;
//     display: none
//   }
// }
.ag-theme-alpine .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell){
  border-right-color: transparent!important;
}
.ag-theme-alpine .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left):not(.ag-cell-range-single-cell){
  border-left-color: transparent!important;
}
.ag-theme-alpine .ag-pinned-left-header{
  border-right-color: transparent!important;
}
.ag-theme-alpine .ag-pinned-right-header{
  border-left-color: transparent!important;
}


.ag-header-cell-resize::after{
  background-color: transparent!important;
}
.ag-cell{
  font-weight: 400!important;
}
.ag-theme-alpine .ag-header{
  background-color: $ag-header-bg!important;
}
// .ag-theme-alpine .ag-header-row:not(:first-child) .ag-header-cell, .ag-theme-alpine .ag-header-row:not(:first-child) .ag-header-group-cell.ag-header-group-cell-with-group{
//   border-top-color:unset !important
// }
.ag-theme-alpine .ag-ltr .ag-pinned-right-header .ag-header-row:after, .ag-theme-alpine .ag-rtl .ag-pinned-left-header .ag-header-row:before{
  background-color:unset!important
}
.ag-theme-alpine .ag-ltr .ag-cell{
  border-right-width: 1px;
  border-color: transparent;
  
  .ag-has-focus{
    border: unset!important;
    border-color: unset!important;
    outline: none!important;
  }
}
.ag-theme-alpine .ag-ltr .ag-cell-focus{
  border: none!important;
}
.ant-modal-confirm-body{
  overflow-y: auto;
  height: 400px;
  overflow-x: hidden;
}