@import 'common/assets/styles/apg/theme';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.data-correct{
  background-color: $apg-row-correct!important;
}
.data-skip{
  background-color:$apg-row-disregard!important
}
.ag-theme-alpine .ag-ltr .ag-cell{
  border-right-width: 1px;
  border-color: transparent;
  
  .ag-has-focus{
    border: unset!important;
    border-color: unset!important;
    outline: none!important;
  }
}
.ag-theme-alpine .ag-ltr .ag-cell-focus{
  border: none!important;
}
.logo-title{
  padding: 15px;
}
.ag-theme-alpine .ag-row:not(.ag-row-first) {
  border-top-style: solid;
}
// .ag-theme-alpine .ag-pinned-left-header{
//   border-right-color: #babfc7;
// }
// .ag-theme-alpine .ag-floating-top{
//   border-bottom-color:red!important
// }
// .button-disable{
//   button{
//     opacity: 0.2;
//     display: none
//   }
// }
.ag-theme-alpine .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell){
  border-right-color: transparent!important;
}
.ag-theme-alpine .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left):not(.ag-cell-range-single-cell){
  border-left-color: transparent!important;
}
.ag-theme-alpine .ag-pinned-left-header{
  border-right-color: transparent!important;
}
.ag-theme-alpine .ag-pinned-right-header{
  border-left-color: transparent!important;
}